<div class="row">
    <div class="col-md-11 offset-1">
        <div class="card" *ngFor="let item of heroes; let i = index">
            <div class="img">
                <img [src]="item.picture">
            </div>
            <h2 class="item-name">{{item.name}}</h2>
            <p class="item-info">{{item.info}}</p>
            <p class="item-publisher">{{item.publisher}}</p>
            <span class="bottom-btns">
                <ul>
                    <li><a style="cursor:pointer;" (click)="megusta(i)"><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{item.megusta}}</a></li>
                </ul>
            </span>
        </div>
    </div>
</div>